@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
}

@theme {
  --color-x-bg: #fff;
  --color-x-text: #141419;
  --color-x-blue: #2a5dfa;
  --color-x-green: #69c832;
  --color-x-link: #1e90ff;
  --color-x-link-hover: #e84242;
}
